.recipeListContainer {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100vw;
  height: calc(100vh - 63px);
  overflow: hidden;

  .nav {
    flex: 0 0 300px;
    width: 3000px;
    height: 100%;
    padding: 30px 20px;
    border-right: 1px solid #dee2e6;
    overflow: scroll;

    .formControl {
      margin-bottom: 25px;
    }
  }

  .recipeYield {
    flex: 1;
    padding: 50px 30px 100px;
  }
}

.recipeGroup {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
}
