.FormContainer {
  width: 100%;
  box-sizing: border-box;
}

.ItemTitle {
  display: inline-block;
  line-height: 1.5;
  padding: 8px 8px 8px 0;
  font-size: 15px;
  font-weight: 700;
  margin-right: 3px;
  color: rgb(211, 47, 47);
}
