.page {
  width: 100vw;
  padding: 40px 0;
  background-color: rgb(245, 248, 250);
}
.container {
  width: 900px;
  min-height: calc(100vh - 63px);
  padding: 30px 40px;
  margin: 0 auto;
  box-sizing: border-box;
}
